<div class="jumbotron center">
	<h1>Welcome to My Homepage!</h1>
	<p>
		<%= link_to "Log in","http://google.com", class: " btn btn-default bt-lg"%> 
		<%= link_to "Sign up","http://google.com", class: " btn btn-primary bt-lg"%>
	</p>
</div>
